@{
	ViewData["Title"] = "Contac US";
}
@using Microsoft.AspNetCore.Http
@using Natural_Feelings_Hotel.API

<div class="inner">
	<div>
		<header id="header">
			<a asp-action="" asp-controller="" class="logo"> <img src="~/img/Logo Natural Feelings.png" width="100" height="100"> <strong>Hotel</strong> - Natural Feelings</a>
		</header>
	</div>

	<div class="text-center">
        <h2 class="display-4">Contactenos</h2>
    </div>

	<div class="my-4">
		<div class="row m-0 p-0 row-cols-lg-2 row-cols-sm-1">
			<div class="col-lg-12 col-sm-12 p-0 my-auto">
				<p class="text-center mx-lg-4 my-auto">Hotel Natural Feelings</p>
				<p class="text-center mx-lg-4 my-auto">Tel: 2768-2572 / 2768-7803</p>
				<p class="text-center mx-lg-4 my-auto">Apdo Postal 	70301</p>
				<p class="text-center mx-lg-4 my-auto">info@naturalfeelings.com</p>
			</div>
		</div>
	</div>
</div>